@{
    Layout = "_Layout";
}
<html>
<head>
    <!--<script src="/js/jquery-1.6.4.min.js"></script>-->
</head>
    <body>
    @if (ViewBag.Trips is null)
    {
        <div class="container">
            <h3>Проекты:</h3>
            <div class="row">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <th>Менеджер</th>
                            <th>Сотурдник назначенный на проект</th>
                            <th>Дата выезда</th>
                            <th>Дедлайн</th>
                            <th>Агент</th>
                            <th>Заказчик</th>
                            <th>Адрес заказчика</th>
                            <th>Описание</th>
                        </tr>
                    </tbody>
                </table>
                <h4>Данные не загружены</h4>
            </div>
        </div>
    }
    else
    {
    <div class="container" >
            <h3>Проекты</h3>
         <div class="row">
                <table class="table table-sm table-striped">
                    <thead class="table-primary">
                        <tr>
                            <th scope="col" align="center" width="50">ID</th>
                            <th scope="col" align="center">Менеджер</th>
                            <th scope="col" align="center" width="300">Сотрудник назначенный на проект</th>
                            <th scope="col" align="center" width="150">Дата выезда</th>
                            <th scope="col" align="center">Дедлайн</th>
                            <th scope="col" align="center">Агент</th>
                            <th scope="col" align="center">Заказчик</th>
                            <th scope="col" align="center" width="200">Адрес заказчика</th>
                            <th scope="col" align="center">Описание</th>
                            <th></th>
                        </tr>
                    </thead>
                 <tbody>
                        @foreach (var e in ViewBag.Trips)
                        {
                            <tr>
                            <th>@e.id</th>
                            <th>@e.managerName</th>
                            <th>@e.employe</th>
                            <th>@e.dateOfTrip</th>
                            <th>@e.deadLine</th>
                            <th>@e.company</th>
                            <th>@e.customer</th>
                            <th>@e.address</th>
                            <th>@e.caption</th>
                             <th >
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#@e.id">
                                        Отправить в командировку
                                    </button>

                                    <!-- Modal -->
                                    <form method='post' action='/Home/AsignTrip'>
                                      <div class="modal fade" id="@e.id" tabindex="-1" aria-labelledby="triptoemploye" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="triptoemploye">Выезд для @e.customer</h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <input class="form-control" type="text" name="tripId" value="@e.id" aria-label="@e.customer" readonly>
                                                    <select class="form-select mt-2" aria-label="choice employe for trip" name="employeId">
                                                        <option selected>Выберете сотрудника</option>
                                                        @foreach (var c in ViewBag.Employes)
                                                        {
                                                            <option value="@c.id">@c.employeName</option>
                                                        }
                                                    </select>
                                                </div>
                                                <div class="container text-center">
                                                    <div class="row">
                                                        <div class="col align-baseline">
                                                         <h5>Дата выезда:</h5>
                                                        </div>
                                                        <div class="col">
                                                        <input type="date" id="start" name="tripStart" value="" min="@DateTime.Now.ToShortDateString()" max="e.deadLine" />
                                                        </div>
                                                    </div>
                                                    <div class="row px-4">
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                                                    <button type="submit" class="btn btn-primary">Отправить</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    </form>
                            </th>
                            </tr>
                        }                        
                </tbody>
             </table>
             </div>
             </div>
    }
    </body>
</html>

@*                                     <form method='post' action='/Home/AsignTrip'>
                                        <div id="dialog" title="@e.customer" style="display:none;">
                                            <input class="form-control" type="text" value="@e.customer" aria-label="@e.customer" disabled readonly>
                                            <br /><select class="form-select" aria-label="Default select example" name="employeId">
                                                <option selected>Выберете сотрудника</option>
                                                @foreach (var c in ViewBag.Employes)
                                                {
                                                    <option value="c.id">@c.employeName</option>
                                                }
                                            </select>
                                            <br /><h5>Выберете дату поездки:</h5>
                                            <input type="date" id="start" name="tripStart" value="" min="@DateTime.Now.ToShortDateString()" max="e.deadLine" />
                                            <input type='submit' value='Send' />
                                        </div>
                                    </form>
                                     *@
